$darkpurpel: #756F9D;
$tekstalign:center;
@mixin h1 {
    padding-bottom: 15px;
    font-size: 3.5rem;
    text-shadow: 4px 4px 4px #aaa;
    font-family: 'Dancing Script', 'serif';
}

@mixin p {
    color: #262626;
    font-size: 1.25rem;
}

@mixin flex-kolommen($kolommen) {
    display: flex;
    justify-content: center;
}

@mixin border {
    border: 5px solid white;
    border-radius: 5px;
}