* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$tekstalign:"text-align:center";
body {
    background-color: red;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
}

header {
    background: yellow;
    nav {
        padding: 10px;
        text-align: right;
        a {
            background-color: green;
            color: white;
            padding: 10px;
            margin-right: 20px;
        }
    }
}

@mixin center {
    width: 90%;
    background-color: yellow;
    margin: 0 auto;
    display: flex;
}

@mixin left {
    background-color: blue;
    flex-grow: 1;
}

@mixin right {
    background-color: purple;
    flex-grow: 2;
}

@mixin leftreverse {
    background-color: green;
    flex-grow: 2;
}

@mixin rightreverse {
    background-color: yellow;
    flex-grow: 1;
}

main {
    background-color: green;
    margin-top: 10px;
    padding: 10px;
    h1 {
        margin: 0 auto;
        width: 50%;
        background-color: #fff;
        text-align: center;
        padding: 10px;
    }
}

article {
    @include center;
    .left {
        @include left;
    }
    .right {
        @include right;
    }
}

.midden {
    @include center;
    .leftreverse {
        @include leftreverse;
    }
    .rightreverse {
        @include rightreverse;
    }
}