    @import 'voorkeuren';
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(117, 111, 157, 1));
    }
    
    .container {
        width: 80%;
        margin: 0 auto;
    }
    
    header {
        nav {
            padding: 20px;
            text-align: right;
            a {
                background-color: rgba(255, 255, 255, 0.7);
                color: #262626;
                padding: 15px;
                margin-right: 20px;
                font-size: 1.5rem;
                text-decoration: none;
                margin: 10px;
                border-radius: 20px;
            }
            & :hover {
                background-color: #756F9D;
                color: white;
            }
        }
    }
    
    main {
        @include flex-kolommen(2);
        margin: 10px auto;
        background-color: red;
        img {
            border: 5px solid white;
            border-radius: 5px;
            margin: 10px;
            width: 40%;
        }
        .tekst {
            background-color: #B8E5D1;
            text-align: center;
            border: 5px solid white;
            border-radius: 5px;
            margin: 10px;
            padding: 20px;
            width: 40%;
            h1 {
                color: #756F9D;
                @include h1;
            }
            p {
                @include p;
            }
        }
    }
    
    @media screen and (max-width:800px) {
        header {
            nav {
                padding: 10px;
                text-align: center;
                a {
                    display: block;
                }
            }
        }
        main {
            display: block;
            img {
                width: 70%;
            }
            .tekst {
                width: 70%;
                h1 {
                    font-size: 2.5rem;
                }
            }
        }
    }